<%= simple_form_for @petition, html: { multipart: true } do |f| %>
  <% if @petition.errors.any? %>
    <div id="errors">
    <h2>
      <%= pluralize(@petition.errors.count, "error") %>
      prevented this petition from saving</h2>
      <ul>
        <% @petition.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' } %>
  <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
