<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-5">
    <center><%= image_tag @petition.image.url(:medium) %></center>
    <div class="text-center">
    <h1><%=@petition.title%></h1>
    <p><%= @petition.description%></p>
    <p>Submitted by <%= @petition.user.email%></p>
  </div>
    </div>
  </div>
</div>

<br>

<%=link_to "back", root_path%>
<%=link_to "edit", edit_petition_path%>
<%=link_to "Delete", petition_path, method: :delete, data: { confirm: "Are you sure?"}%>
